

@font-face {
  font-family: 'et-line';
  src:url('../fonts/et-line.eot');
  src:url('../fonts/et-line.eot?#iefix') format('embedded-opentype'),
    url('../fonts/et-line.woff') format('woff'),
    url('../fonts/et-line.ttf') format('truetype'),
    url('../fonts/et-line.svg#et-line') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'et-line';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display:inline-block;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-mobile, .icon-laptop, .icon-desktop, .icon-tablet, .icon-phone, .icon-document, .icon-documents, .icon-search, .icon-clipboard, .icon-newspaper, .icon-notebook, .icon-book-open, .icon-browser, .icon-calendar, .icon-presentation, .icon-picture, .icon-pictures, .icon-video, .icon-camera, .icon-printer, .icon-toolbox, .icon-briefcase, .icon-wallet, .icon-gift, .icon-bargraph, .icon-grid, .icon-expand, .icon-focus, .icon-edit, .icon-adjustments, .icon-ribbon, .icon-hourglass, .icon-lock, .icon-megaphone, .icon-shield, .icon-trophy, .icon-flag, .icon-map, .icon-puzzle, .icon-basket, .icon-envelope, .icon-streetsign, .icon-telescope, .icon-gears, .icon-key, .icon-paperclip, .icon-attachment, .icon-pricetags, .icon-lightbulb, .icon-layers, .icon-pencil, .icon-tools, .icon-tools-2, .icon-scissors, .icon-paintbrush, .icon-magnifying-glass, .icon-circle-compass, .icon-linegraph, .icon-mic, .icon-strategy, .icon-beaker, .icon-caution, .icon-recycle, .icon-anchor, .icon-profile-male, .icon-profile-female, .icon-bike, .icon-wine, .icon-hotairballoon, .icon-globe, .icon-genius, .icon-map-pin, .icon-dial, .icon-chat, .icon-heart, .icon-cloud, .icon-upload, .icon-download, .icon-target, .icon-hazardous, .icon-piechart, .icon-speedometer, .icon-global, .icon-compass, .icon-lifesaver, .icon-clock, .icon-aperture, .icon-quote, .icon-scope, .icon-alarmclock, .icon-refresh, .icon-happy, .icon-sad, .icon-facebook, .icon-twitter, .icon-googleplus, .icon-rss, .icon-tumblr, .icon-linkedin, .icon-dribbble {
  font-family: 'et-line';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display:inline-block;
}
.icon-mobile:before {
  content: "\e000";
}
.icon-laptop:before {
  content: "\e001";
}
.icon-desktop:before {
  content: "\e002";
}
.icon-tablet:before {
  content: "\e003";
}
.icon-phone:before {
  content: "\e004";
}
.icon-document:before {
  content: "\e005";
}
.icon-documents:before {
  content: "\e006";
}
.icon-search:before {
  content: "\e007";
}
.icon-clipboard:before {
  content: "\e008";
}
.icon-newspaper:before {
  content: "\e009";
}
.icon-notebook:before {
  content: "\e00a";
}
.icon-book-open:before {
  content: "\e00b";
}
.icon-browser:before {
  content: "\e00c";
}
.icon-calendar:before {
  content: "\e00d";
}
.icon-presentation:before {
  content: "\e00e";
}
.icon-picture:before {
  content: "\e00f";
}
.icon-pictures:before {
  content: "\e010";
}
.icon-video:before {
  content: "\e011";
}
.icon-camera:before {
  content: "\e012";
}
.icon-printer:before {
  content: "\e013";
}
.icon-toolbox:before {
  content: "\e014";
}
.icon-briefcase:before {
  content: "\e015";
}
.icon-wallet:before {
  content: "\e016";
}
.icon-gift:before {
  content: "\e017";
}
.icon-bargraph:before {
  content: "\e018";
}
.icon-grid:before {
  content: "\e019";
}
.icon-expand:before {
  content: "\e01a";
}
.icon-focus:before {
  content: "\e01b";
}
.icon-edit:before {
  content: "\e01c";
}
.icon-adjustments:before {
  content: "\e01d";
}
.icon-ribbon:before {
  content: "\e01e";
}
.icon-hourglass:before {
  content: "\e01f";
}
.icon-lock:before {
  content: "\e020";
}
.icon-megaphone:before {
  content: "\e021";
}
.icon-shield:before {
  content: "\e022";
}
.icon-trophy:before {
  content: "\e023";
}
.icon-flag:before {
  content: "\e024";
}
.icon-map:before {
  content: "\e025";
}
.icon-puzzle:before {
  content: "\e026";
}
.icon-basket:before {
  content: "\e027";
}
.icon-envelope:before {
  content: "\e028";
}
.icon-streetsign:before {
  content: "\e029";
}
.icon-telescope:before {
  content: "\e02a";
}
.icon-gears:before {
  content: "\e02b";
}
.icon-key:before {
  content: "\e02c";
}
.icon-paperclip:before {
  content: "\e02d";
}
.icon-attachment:before {
  content: "\e02e";
}
.icon-pricetags:before {
  content: "\e02f";
}
.icon-lightbulb:before {
  content: "\e030";
}
.icon-layers:before {
  content: "\e031";
}
.icon-pencil:before {
  content: "\e032";
}
.icon-tools:before {
  content: "\e033";
}
.icon-tools-2:before {
  content: "\e034";
}
.icon-scissors:before {
  content: "\e035";
}
.icon-paintbrush:before {
  content: "\e036";
}
.icon-magnifying-glass:before {
  content: "\e037";
}
.icon-circle-compass:before {
  content: "\e038";
}
.icon-linegraph:before {
  content: "\e039";
}
.icon-mic:before {
  content: "\e03a";
}
.icon-strategy:before {
  content: "\e03b";
}
.icon-beaker:before {
  content: "\e03c";
}
.icon-caution:before {
  content: "\e03d";
}
.icon-recycle:before {
  content: "\e03e";
}
.icon-anchor:before {
  content: "\e03f";
}
.icon-profile-male:before {
  content: "\e040";
}
.icon-profile-female:before {
  content: "\e041";
}
.icon-bike:before {
  content: "\e042";
}
.icon-wine:before {
  content: "\e043";
}
.icon-hotairballoon:before {
  content: "\e044";
}
.icon-globe:before {
  content: "\e045";
}
.icon-genius:before {
  content: "\e046";
}
.icon-map-pin:before {
  content: "\e047";
}
.icon-dial:before {
  content: "\e048";
}
.icon-chat:before {
  content: "\e049";
}
.icon-heart:before {
  content: "\e04a";
}
.icon-cloud:before {
  content: "\e04b";
}
.icon-upload:before {
  content: "\e04c";
}
.icon-download:before {
  content: "\e04d";
}
.icon-target:before {
  content: "\e04e";
}
.icon-hazardous:before {
  content: "\e04f";
}
.icon-piechart:before {
  content: "\e050";
}
.icon-speedometer:before {
  content: "\e051";
}
.icon-global:before {
  content: "\e052";
}
.icon-compass:before {
  content: "\e053";
}
.icon-lifesaver:before {
  content: "\e054";
}
.icon-clock:before {
  content: "\e055";
}
.icon-aperture:before {
  content: "\e056";
}
.icon-quote:before {
  content: "\e057";
}
.icon-scope:before {
  content: "\e058";
}
.icon-alarmclock:before {
  content: "\e059";
}
.icon-refresh:before {
  content: "\e05a";
}
.icon-happy:before {
  content: "\e05b";
}
.icon-sad:before {
  content: "\e05c";
}
.icon-facebook:before {
  content: "\e05d";
}
.icon-twitter:before {
  content: "\e05e";
}
.icon-googleplus:before {
  content: "\e05f";
}
.icon-rss:before {
  content: "\e060";
}
.icon-tumblr:before {
  content: "\e061";
}
.icon-linkedin:before {
  content: "\e062";
}
.icon-dribbble:before {
  content: "\e063";
}



/* custom css */

body {
  font-size: 14px;
  line-height: 1.6;
  /*font-family: "Open Sans", sans-serif;*/
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

::-moz-selection {
  background: #FFF498;
}

::selection {
  background: #FFF498;
}

::-moz-selection {
  background: #FFF498;
}

img::-moz-selection {
  background: transparent;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  -webkit-tap-highlight-color: #FFF498;
}

header {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../img/hero-3.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.fixed-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  z-index: 11;
  transition: all .2s ease-in-out;
}

.fixed-navbar.nav-fix {
  background-color: rgba(13, 7, 25, 0.9);
  height: 80px;
}

.fixed-navbar.nav-open {
  left: -180px;
}

@media (max-width: 1024px) {
  .fixed-navbar {
    height: 80px;
  }
}

.navbar-lockup {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 30px;
  line-height: 120px;
  transition: all .2s ease-in-out;
}

.navbar-lockup.nav-fix {
  line-height: 80px;
}

.navbar-lockup .logo {
  float: left;
}

.navbar-lockup .logo img {
  width: 180px;
      transition: all .2s ease-in-out;
}
.navbar-lockup.nav-fix .logo img{
  width: 140px;
      transition: all .2s ease-in-out;
}

.navbar-lockup .nav {
  float: right;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.navbar-lockup .nav li {
  display: inline-block;
  margin-right: 65px;
}

.navbar-lockup .nav li:last-child {
  margin-right: 0;
}

.navbar-lockup .nav li a {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: .8px;
  transition: color .2s ease-in-out;
}

.navbar-lockup .nav li a:hover {
  color: #c8e474;
  text-decoration: none;
}

.claim-lockup {
  position: relative;
  max-width: 1180px;
  height: 100%;
  margin: 0 auto;
}

.claim-lockup .claim {
  position: absolute;
  bottom: 150px;
  left: 115px;
}

.claim-lockup .claim .headline {
  margin-bottom: 0;
  font-size: 40px;
  font-weight: 300;
  text-transform: uppercase;
}

.claim-lockup .claim .headline span {
  color: #a2ca28;
}

.claim-lockup .claim .kicker {
  position: relative;
  left: 158px;
  margin-top: -10px;
  margin-bottom: 0;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.8px;
}

.claim-lockup .claim .kicker span {
  color: #e81f64;
}

@media (max-width: 670px) {
  .claim-lockup .claim {
    left: 30px;
  }
}

@media (max-width: 400px) {
  .claim-lockup .claim {
    left: 30px;
  }
  .claim-lockup .claim .headline {
    font-size: 32px;
  }
  .claim-lockup .claim .kicker {
    left: 128px;
  }
}

@media (max-height: 414px) {
  .claim-lockup .claim {
    bottom: 85px;
  }
}

.angled-overlay {
  position: absolute;
  bottom: 0;
  -webkit-transform: skewY(-2deg);
          transform: skewY(-2deg);
  -webkit-transform-origin: right;
          transform-origin: right;
  width: 100%;
  height: 100px;
  background-color: #e81f64;
  opacity: .3;
}

.slide-out-nav {
  position: fixed;
  top: 0;
  right: -180px;
  bottom: 0;
  width: 180px;
  background-color: #0d1119;
  overflow: hidden;
  z-index: 11;
  transition: all .2s ease-in-out;
}

.slide-out-nav.nav-open {
  right: 0;
}

.slide-out-nav .mobile-nav {
  margin: 50px 20px 0 0;
  padding-left: 0;
  text-align: right;
  list-style: none;
}

.slide-out-nav .mobile-nav li {
  margin-bottom: 15px;
}

.slide-out-nav .mobile-nav li a {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: .8px;
  transition: color .2s ease-in-out;
}

.slide-out-nav .mobile-nav li a:hover {
  color: #c8e474;
  text-decoration: none;
}

.slide-out-nav .mobile-nav-slice {
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  width: 100%;
  height: 125%;
  background-color: #fff;
  opacity: .05;
}

.mobile-nav-toggle {
  display: none;
  position: fixed;
  top: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 11;
  transition: all .2s ease-in-out;
}

.mobile-nav-toggle.nav-open {
  right: 210px;
}

.mobile-nav-toggle span {
  display: block;
  width: 100%;
  height: 2px;
  margin-bottom: 8px;
  background-color: #fff;
}

@media (max-width: 1024px) {
  .navbar-lockup .logo {
    line-height: 80px;
  }
  .navbar-lockup .nav {
    display: none;
  }
  .mobile-nav-toggle {
    display: block;
  }
}

.mobile-shift {
  position: relative;
  left: 0;
  transition: left .2s ease-in-out;
}

.mobile-shift.nav-open {
  left: -180px;
}

article{
position: relative;
    width: auto;
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    }

    section article:after, section article:before {
    clear: both;
    content: "";
    display: block;
}


.home-thumb-link{
  background: #e81f64;
}
.home-thumb-link a {
    display: inline-block;
    color: #fff;

   
}

.home-thumb-link a:hover{
  text-decoration: none;
}

.home-thumb-link a i {
    margin-bottom: 20px;
    transition: .5s;
    font-size: 60px;
}

.home-thumb-link a i+p {
    font-size: 18px;
    color: #fff;
    margin-bottom: 0;
}

.bg-gray-light {
    background: #fbfbfb;
}



/*.featured {
  position: relative;
  width: 100%;
  padding: 100px 0;
  background-color:#f53476; 
}

.feature .icon-lg {
  margin-bottom: 10px;
  font-size: 40px;
}

.feature h2 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 400;
}

.feature p {
  margin-bottom: 30px;
  line-height: 25px;
}

.feature a {
  color: #fff;
}

.feature a .icon-arrow-long-right {
  position: relative;
  top: 2px;
  left: 7px;
  display: inline-block;
  transition: all .2s ease-in-out;
}

.feature a:hover {
  text-decoration: none;
}

.feature a:hover .icon-arrow-long-right {
  left: 17px;
}
*/
@media (max-width: 991px) {
  .feature {
    margin-bottom: 30px;
  }
  .feature h2 {
    margin-bottom: 15px;
  }
  .feature p {
    margin-bottom: 20px;
  }
}

.grid {
  position: relative;
  width: 100%;
}

.bg-secondary {
  /*background-color: #a2ca28;*/
  background-color: #fff !important;
  padding: 80px 0;
}
.bg-third{
  background-color:  #a2ca28;
  /* background-color:  #f2f2f2;*/
 padding: 80px 0;  

}



.intro-block{
  position: relative;
  height: 395px;
}

.intro-block .text-block {
  position: relative;
  height: 100%;
  background-color: #fff;
}

.intro-block .text-block .text-lockup {
  max-width: 315px;
  margin: 0 auto;
  margin-top: 55px;
  text-align: center;
}

.intro-block .text-block .text-lockup h3 {
  margin-bottom: -5px;
  color: #e81f64;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.intro-block .text-block .text-lockup h2{
  color: #a2ca28;
  font-size: 35px;
  font-weight: 300;
  text-transform: uppercase;
}

.intro-block .text-block .text-lockup p {
  margin-top: 15px;
  margin-bottom: 10px;
  color: #656e74;
  line-height: 25px;
}

.intro-block .text-block .text-lockup a {
  color: #a2ca28;
 /* text-decoration: underline;*/
}

.intro-block .text-block .text-lockup img {
  width: 12px;
}

.intro-block .large-thumb {
  position: relative;
  height: 100%;
  background-image: url("../img/hero-1.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.intro-block .large-thumb .stats {
  position: absolute;
  right: 45px;
  bottom: 45px;
}

@media (max-width: 767px) {
  .intro-block .large-thumb .stats {
    right: 20px;
    bottom: 20px;
  }
}

.intro-block .large-thumb .stats p {
  display: inline-block;
  margin-right: 10px;
  color: #e81f64;
  font-size: 12px;
  font-weight: 700;
}

.intro-block .large-thumb .stats p span {
  color: #fff;
}

.intro-block .large-thumb .stats img {
  width: 15px;
}

@media (max-width: 1199px) {
  .intro-block {
    height: 350px;
  }
  .intro-block .text-block .text-lockup {
    margin-top: 45px;
    padding: 0 10px;
  }
}

@media (max-width: 991px) {
  .intro-block {
    height: 700px;
  }
  .intro-block .text-block {
    height: 50%;
  }
  .intro-block .text-block .text-lockup {
    max-width: 400px;
    margin-top: 0;
    padding-top: 45px;
  }
  .intro-block .large-thumb {
    height: 50%;
  }
}

@media (max-width: 991px) {
  .intro-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .intro-block .text-block {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}



.mid-unit {
  position: relative;
  height: 650px;
  margin-bottom: 30px;
}

.mid-unit .small-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 0;
  padding-right: 0;
}
.mid-unit .small-block:hover, .mid-unit .big-block:hover, .bottom-unit .small-block, .bottom-unit .big-block{
  cursor:pointer;

}

.mid-unit .small-block .small-thumb {
  height: 340px;
  background-image: url("../img/design-1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border:6px solid #e81f64;
}

.mid-unit .small-block .text-block {
  position: relative;
  height: 320px;
  background-color: #e81f64;
}

.mid-unit .small-block .text-block .text-lockup {
  position: relative;
  max-width: 315px;
  margin: 0 auto;
  margin-top: 55px;
}

.mid-unit .small-block .text-block .text-lockup h3 {
  margin-bottom: -5px;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.mid-unit .small-block .text-block .text-lockup h2 {
  color: #fff;
  font-size: 35px;
  font-weight: 300;
  text-transform: uppercase;
}

.mid-unit .small-block .text-block .text-lockup p {
  margin-top: 15px;
  margin-bottom: 10px;
  color: #fff;
  line-height: 25px;
}

/*.mid-unit .lifestyle a {
  color:#fff;
}*/
.mid-unit .small-block .text-block .text-lockup i {
  position: absolute;
  top: 0;
  right: 0;
  color: #000;
  font-size: 30px;
  opacity: .1;
}

@media (max-width: 1199px) {
  .mid-unit .small-block .text-block .text-lockup {
    padding: 0 15px;
  }
  .mid-unit .small-block .text-block .text-lockup i {
    right: 15px;
  }
}

@media (max-width: 991px) {
  .mid-unit .small-block .text-block .text-lockup {
    max-width: 650px;
  }
}

.mid-unit .big-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 0;
  padding-right: 0;
}

.mid-unit .big-block .large-thumb {
  position: relative;
  height: 330px;
  background-image: url("../img/design-2.jpeg");
  background-position: 50% 75%;
  background-size: cover;
  background-repeat: no-repeat;
}

.mid-unit .big-block .large-thumb .date {
  position: absolute;
  top: 60px;
  left: 60px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .8px;
}

.mid-unit .big-block .large-thumb .category {
  position: absolute;
  top: 56px;
  right: 60px;
}

.mid-unit .big-block .large-thumb .category p {
  display: inline-block;
  margin-right: 5px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .8px;
}

.mid-unit .big-block .large-thumb .category i {
  position: relative;
  top: 3px;
  display: inline-block;
  font-size: 20px;
}

@media (max-width: 767px) {
  .mid-unit .big-block .large-thumb .date {
    top: 30px;
    left: 15px;
  }
  .mid-unit .big-block .large-thumb .category {
    top: 26px;
    right: 15px;
  }
}

.mid-unit .big-block .text-block {
  height: 320px;
  background-color: #fff;
  z-index: 10;
  /*box-shadow: 0 0 60px -20px #000;
*/}

.mid-unit .big-block .text-block .text-lockup {
  position: relative;
  top: 40px;
  max-width: 650px;
  margin: 0 auto;
}

.mid-unit .big-block .text-block .text-lockup h2 {
  color: #a2ca28;
  font-size: 40px;
  font-weight: 300;
  text-transform: uppercase;
}

.mid-unit .big-block .text-block .text-lockup p {
  margin-top: 15px;
  margin-bottom: 10px;
  color: #656e74;
  line-height: 25px;
}

@media (max-width: 1199px) {
  .mid-unit .big-block .text-block .text-lockup {
    padding: 0 15px;
  }
}

@media (max-width: 991px) {
  .mid-unit {
    height: auto;
  }
}

.bottom-unit {
  position: relative;
  height: 650px;
}

.bottom-unit .big-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 0;
  padding-right: 0;
}

.bottom-unit .big-block .large-thumb {
  height: 330px;
  background-image: url("../img/design.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bottom-unit .big-block .text-block {
  position: relative;
  height: 320px;
  background-color: #fff;
}

@media (max-width: 767px) {
  .bottom-unit .big-block .text-block {
    height: auto;
    padding-bottom: 50px;
  }
}

.bottom-unit .big-block .text-block .text-lockup {
  position: relative;
  max-width: 650px;
  margin: 0 auto;
  margin-top: 55px;
}

.bottom-unit .big-block .text-block .text-lockup h3 {
  margin-bottom: -5px;
  color: #e81f64;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.bottom-unit .big-block .text-block .text-lockup h2 {
  color: #a2ca28;
  font-size: 35px;
  font-weight: 300;
  text-transform: uppercase;
}

.bottom-unit .big-block .text-block .text-lockup p {
  margin-top: 15px;
  margin-bottom: 10px;
  color: #656e74;
  line-height: 25px;
}

.bottom-unit .big-block .text-block .text-lockup img {
  position: absolute;
  top: 0;
  right: 0;
  width: 26px;
}

@media (max-width: 1199px) {
  .bottom-unit .big-block .text-block .text-lockup {
    padding: 0 15px;
  }
  .bottom-unit .big-block .text-block .text-lockup img {
    right: 15px;
  }
}

.bottom-unit .small-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 0;
  padding-right: 0;
}

.bottom-unit .small-block .small-thumb {
  height: 340px;
  background-image: url("../img/bag-1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 6px solid  #e81f64;
}

.bottom-unit .small-block .text-block {
  position: relative;
  height: 320px;
  background-color:  #e81f64;
}

.bottom-unit .small-block .text-block .text-lockup {
  position: relative;
  max-width: 315px;
  margin: 0 auto;
  margin-top: 55px;
}

.bottom-unit .small-block .text-block .text-lockup h3 {
  margin-bottom: -5px;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.bottom-unit .small-block .text-block .text-lockup h2 {
  color: #fff;
  font-size: 35px;
  font-weight: 300;
  text-transform: uppercase;
}

.bottom-unit .small-block .text-block .text-lockup p {
  margin-top: 15px;
  margin-bottom: 10px;
  color: #fff;
  line-height: 25px;
}

.bottom-unit .small-block .text-block .text-lockup img {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
}

@media (max-width: 1199px) {
  .bottom-unit .small-block .text-block .text-lockup {
    padding: 0 15px;
  }
  .bottom-unit .small-block .text-block .text-lockup img {
    right: 15px;
  }
}

@media (max-width: 991px) {
  .bottom-unit .small-block .text-block .text-lockup {
    max-width: 650px;
  }
}

@media (max-width: 991px) {
  .bottom-unit {
    height: auto;
  }
}

.text-center{
  text-align: center;
}
footer {
    background: #222;
    padding: 100px 0 0;
}
footer .contact-details div[class*='col-']:not(:last-of-type) {
    border-right: 1px dashed #3c3c3c;
}

footer .contact-details .icon {
    font-size: 3.33em;
    color: #777;
}
footer .contact-details p, footer .contact-details a {
    color: #aaa;
    font-size: 1.05em;
    margin-bottom: 5px;
}

footer .copyrights{
  padding-top: 20px;
}
footer .copyrights p{
  color:#aaa
}
.social-list {
  padding: 20px 0 0 0;
}
.social-list li{
  display:inline-flex;
  padding: 10px 0;

}

.social-list li i{
      font-size: 2rem;
    color: #777;
    margin: 10px
}
.social-list li i:hover{
  color: #fff
}

.bg-angled-left, .bg-angled-right {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: skewY(-3.5deg);
          transform: skewY(-3.5deg);
  -webkit-transform-origin: left;
          transform-origin: left;
  background-color: #0d1119;
}

.bg-angled-right {
  -webkit-transform: skewY(3deg);
          transform: skewY(3deg);
  -webkit-transform-origin: right;
          transform-origin: right;
}

.section-group{
  padding: 40px 0;
}

section h2.section-heading {
    font-size: 36px;
    text-transform: none;
    margin-top: 0px;
    margin-bottom: 15px;
    font-weight: 400;
    color: #232c3b;
     text-align: center;

    /*letter-spacing: 1px;*/
}

.section-group p{
/*    font-family: inherit;
*/    font-weight: 400;
    color: #6a7483;
    font-size: 14px;
    line-height: 28px;
/*    font-family: 'Open Sans', sans-serif;
*/
}

header.inner{
  background-image: none;
  height: 100%;
  margin-bottom: 20px;
}

header.inner .fixed-navbar {
    background-color: rgba(13, 7, 25, 0.9);
    height: 80px;
}

header.inner .navbar-lockup .logo img {
    width: 140px;
    transition: all .2s ease-in-out;
}

header.inner .navbar-lockup {
    line-height: 80px;
}
main{
  padding-top: 60px;
 font-weight: 400;
    color: #6a7483;
    font-size: 14px;
    line-height: 28px;
}

header li a.active{
      border-bottom: 2px solid #e81f64;
      padding-bottom: 10px;
}
.text-lockup a{
  color: #93bb17;
  text-transform: uppercase;
 /* text-decoration:underline;*/
}

.text-lockup a.highlight{
  color: #fff;
  
}

/*  bhoechie tab */

.list-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0; }

.list-group-item-action {
  width: 100%;
  color: #495057;
  text-align: inherit; }
  .list-group-item-action:focus, .list-group-item-action:hover {
    color: #495057;
    text-decoration: none;
    background-color: #f8f9fa; }
  .list-group-item-action:active {
    color: #212529;
    background-color: #e9ecef; }

.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125); }
  .list-group-item:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem; }
  .list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem; }
  .list-group-item:focus, .list-group-item:hover {
    text-decoration: none; }
  .list-group-item.disabled, .list-group-item:disabled {
    color: #868e96;
    background-color: #fff; }
  .list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff; }

.list-group-flush .list-group-item {
  border-right: 0;
  border-left: 0;
  border-radius: 0; }

.list-group-flush:first-child .list-group-item:first-child {
  border-top: 0; }

.list-group-flush:last-child .list-group-item:last-child {
  border-bottom: 0; }

.list-group-item-primary {
  color: #0f4485;
  background-color: #c0dcff; }

a.list-group-item-primary,
button.list-group-item-primary {
  color: #0f4485; }
  a.list-group-item-primary:focus, a.list-group-item-primary:hover,
  button.list-group-item-primary:focus,
  button.list-group-item-primary:hover {
    color: #0f4485;
    background-color: #a7ceff; }
  a.list-group-item-primary.active,
  button.list-group-item-primary.active {
    color: #fff;
    background-color: #0f4485;
    border-color: #0f4485; }

.list-group-item-secondary {
  color: #464a4e;
  background-color: #dddfe2; }

a.list-group-item-secondary,
button.list-group-item-secondary {
  color: #464a4e; }
  a.list-group-item-secondary:focus, a.list-group-item-secondary:hover,
  button.list-group-item-secondary:focus,
  button.list-group-item-secondary:hover {
    color: #464a4e;
    background-color: #cfd2d6; }
  a.list-group-item-secondary.active,
  button.list-group-item-secondary.active {
    color: #fff;
    background-color: #464a4e;
    border-color: #464a4e; }

.list-group-item-success {
  color: #006928;
  background-color: #b8f0cd; }

a.list-group-item-success,
button.list-group-item-success {
  color: #006928; }
  a.list-group-item-success:focus, a.list-group-item-success:hover,
  button.list-group-item-success:focus,
  button.list-group-item-success:hover {
    color: #006928;
    background-color: #a3ecbe; }
  a.list-group-item-success.active,
  button.list-group-item-success.active {
    color: #fff;
    background-color: #006928;
    border-color: #006928; }

.list-group-item-info {
  color: #47716c;
  background-color: #def4f2; }

a.list-group-item-info,
button.list-group-item-info {
  color: #47716c; }
  a.list-group-item-info:focus, a.list-group-item-info:hover,
  button.list-group-item-info:focus,
  button.list-group-item-info:hover {
    color: #47716c;
    background-color: #cbeeea; }
  a.list-group-item-info.active,
  button.list-group-item-info.active {
    color: #fff;
    background-color: #47716c;
    border-color: #47716c; }

.list-group-item-warning {
  color: #856f00;
  background-color: #fff3b8; }

a.list-group-item-warning,
button.list-group-item-warning {
  color: #856f00; }
  a.list-group-item-warning:focus, a.list-group-item-warning:hover,
  button.list-group-item-warning:focus,
  button.list-group-item-warning:hover {
    color: #856f00;
    background-color: #ffef9f; }
  a.list-group-item-warning.active,
  button.list-group-item-warning.active {
    color: #fff;
    background-color: #856f00;
    border-color: #856f00; }

.list-group-item-danger {
  color: #7c0214;
  background-color: #fab9c3; }

a.list-group-item-danger,
button.list-group-item-danger {
  color: #7c0214; }
  a.list-group-item-danger:focus, a.list-group-item-danger:hover,
  button.list-group-item-danger:focus,
  button.list-group-item-danger:hover {
    color: #7c0214;
    background-color: #f8a1af; }
  a.list-group-item-danger.active,
  button.list-group-item-danger.active {
    color: #fff;
    background-color: #7c0214;
    border-color: #7c0214; }

.list-group-item-light {
  color: #818182;
  background-color: #fdfdfe; }

a.list-group-item-light,
button.list-group-item-light {
  color: #818182; }
  a.list-group-item-light:focus, a.list-group-item-light:hover,
  button.list-group-item-light:focus,
  button.list-group-item-light:hover {
    color: #818182;
    background-color: #ececf6; }
  a.list-group-item-light.active,
  button.list-group-item-light.active {
    color: #fff;
    background-color: #818182;
    border-color: #818182; }

.list-group-item-dark {
  color: #1b1e21;
  background-color: #c6c8ca; }

a.list-group-item-dark,
button.list-group-item-dark {
  color: #1b1e21; }
  a.list-group-item-dark:focus, a.list-group-item-dark:hover,
  button.list-group-item-dark:focus,
  button.list-group-item-dark:hover {
    color: #1b1e21;
    background-color: #b9bbbe; }
  a.list-group-item-dark.active,
  button.list-group-item-dark.active {
    color: #fff;
    background-color: #1b1e21;
    border-color: #1b1e21; }

.list-group-item-navy {
  color: #010d4c;
  background-color: #b8bfe1; }

a.list-group-item-navy,
button.list-group-item-navy {
  color: #010d4c; }
  a.list-group-item-navy:focus, a.list-group-item-navy:hover,
  button.list-group-item-navy:focus,
  button.list-group-item-navy:hover {
    color: #010d4c;
    background-color: #a6afd9; }
  a.list-group-item-navy.active,
  button.list-group-item-navy.active {
    color: #fff;
    background-color: #010d4c;
    border-color: #010d4c; }
div.bhoechie-tab-container{
 /* z-index: 10;*/
  background-color: #ffffff;
  /*padding: 0 !important;*/
 /* border-radius: 4px;
  -moz-border-radius: 4px;
  border:1px solid #ddd;*/
  margin-top: 20px;
 /* margin-left: 50px;*/
 /* -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);*/
}
/*div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}*/

div.bhoechie-tab-menu{
  margin-bottom: 20px;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;
  color: #333;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #5A55A3;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  background-color: #e81f64;
  background-image: #e81f64;
  color: #ffffff;
  border-color: transparent;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #e81f64;
}

div.bhoechie-tab-content{
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  /*padding: 0 20px 20px 20px;*/
}
div.bhoechie-tab-content h4{
  text-transform: uppercase;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}

.business-header {
  height: 40vh;
  min-height: 250px;
   background: url('../img/hero-4.jpg') center center no-repeat scroll;
/*  background: url('http://placehold.it/1920x400') center center no-repeat scroll;
*/  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

}

.business-header h1{
  margin-top: 4rem !important;
}

.display-5{
  font-size: 1.5rem
}

#work {
  width: 100%;
  padding: 120px 0 100px;
  background-color: #f7f7f7;
}
@media screen and (max-width: 767px) {
  #work {
    width: 100%;
    height: auto;
    min-height: 150px;
    display: block;
    padding: 90px 0 80px;
  }
}
.work-container {
  width: 100%;
  padding: 0;
  margin: 0;
}
.work-item {
  position: relative;
  display: block;
  float: left;
  width: 50%;
  background-color: #333946;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .work-item {
    float: left;
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  .work-item {
    float: left;
    width: 100%;
  }
}
.work-item > .item-link {
  position: relative;
  display: block;
}
.work-item > .item-link > .item-desc {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 40px 45px;
  text-align: center;
  color: #ffffff;
}
.work-item > .item-link > .item-desc h3 {
  position: absolute;
  bottom: 20px;
  right: 60px;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 480px) {
  .work-item > .item-link > .item-desc h3 {
    margin-top: 60px;
  }
}
.work-item > .item-link > .item-desc p {
  float: right;
  width: 50%;
  padding: 0 15px 0 0;
  text-align: right;
  text-transform: uppercase;
  border-right: 1px solid #ffffff;
  -webkit-transform: translate3d(-40px, 0, 0);
  -moz-transform: translate3d(-40px, 0, 0);
  -ms-transform: translate3d(-40px, 0, 0);
  -o-transform: translate3d(-40px, 0, 0);
  transform: translate3d(-40px, 0, 0);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
@media screen and (max-width: 767px) {
  .work-item > .item-link > .item-desc p {
    display: none;
  }
}
.work-item > .item-link > img {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(-30px, 0, 0) scale(1.12);
  -moz-transform: translate3d(-30px, 0, 0) scale(1.12);
  -ms-transform: translate3d(-30px, 0, 0) scale(1.12);
  -o-transform: translate3d(-30px, 0, 0) scale(1.12);
  transform: translate3d(-30px, 0, 0) scale(1.12);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .work-item > .item-link > img {
    opacity: 0.8;
    filter: alpha(opacity=80);
    -webkit-transform: translate3d(-30px, 0, 0) scale(1.32);
    -moz-transform: translate3d(-30px, 0, 0) scale(1.32);
    -ms-transform: translate3d(-30px, 0, 0) scale(1.32);
    -o-transform: translate3d(-30px, 0, 0) scale(1.32);
    transform: translate3d(-30px, 0, 0) scale(1.32);
  }
}
@media screen and (max-width: 767px) {
  .work-item > .item-link > img {
    opacity: 0.8;
    filter: alpha(opacity=80);
    -webkit-transform: translate3d(-30px, 0, 0) scale(1.32);
    -moz-transform: translate3d(-30px, 0, 0) scale(1.32);
    -ms-transform: translate3d(-30px, 0, 0) scale(1.32);
    -o-transform: translate3d(-30px, 0, 0) scale(1.32);
    transform: translate3d(-30px, 0, 0) scale(1.32);
  }
}
.work-item:hover > .item-link > .item-desc h3 {
  -webkit-transform: translate3d(15px, -20px, 0);
  -moz-transform: translate3d(15px, -20px, 0);
  -ms-transform: translate3d(15px, -20px, 0);
  -o-transform: translate3d(15px, -20px, 0);
  transform: translate3d(15px, -20px, 0);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.work-item:hover > .item-link > .item-desc p {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: #fff !important;
}
.work-item:hover > .item-link > img {
  opacity: 0.5;
  filter: alpha(opacity=50);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  -moz-transform: translate3d(0, 0, 0) scale(1);
  -ms-transform: translate3d(0, 0, 0) scale(1);
  -o-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
}
/* modal */
.modal-work .modal-content {
  padding: 20px 0;
  min-height: 100%;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  text-align: center;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
.modal-work .modal-content .page-title {
  margin-bottom: 30px;
}
h2 .modal-work .modal-content .page-title::after {
  content: '';
  position: absolute;
  left: 50%;
  top: -20px;
  width: 65px;
  height: 2px;
  margin-left: -32px;
  background-color: #ef4034;
}
.modal-work .modal-content .work-detail {
  margin-top: 20px;
  margin-bottom: 20px;
}
.modal-work .modal-content img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.modal-work .modal-content .item-details {
  margin: 30px 0;
}
.modal-work .modal-close {
  position: absolute;
  z-index: 999;
  top: 25px;
  right: 25px;
  width: 80px;
  height: 80px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  -ms-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
@media screen and (max-width: 767px) {
  .modal-work .modal-close {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 60px;
    height: 60px;
  }
}
.modal-work .modal-close::before {
  content: '';
  position: absolute;
  left: 40px;
  top: -15px;
  width: 1px;
  height: 110px;
  background-color: #aaa;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
@media screen and (max-width: 767px) {
  .modal-work .modal-close::before {
    content: '';
    position: absolute;
    left: 30px;
    top: -10px;
    width: 1px;
    height: 80px;
  }
}
.modal-work .modal-close::after {
  content: '';
  position: absolute;
  right: 40px;
  top: -15px;
  width: 1px;
  height: 110px;
  background-color: #aaa;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
@media screen and (max-width: 767px) {
  .modal-work .modal-close::after {
    content: '';
    position: absolute;
    right: 30px;
    top: -10px;
    width: 1px;
    height: 80px;
  }
}
.modal-work .modal-close:hover::before,
.modal-work .modal-close:focus::before,
.modal-work .modal-close:hover::after,
.modal-work .modal-close:focus::after {
  content: '';
  background-color: #ef4034;
  -webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  -ms-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.modal-open .modal{
  padding-right: 0 !important;
}

.page-title h2 {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    line-height: 52px;
    font-weight: 700;
    color: #434a54;
}

.page-title {
    display: block;
    padding: 20px 0;
    margin-bottom: 60px;
}
.page-title h2::after {
    content: '';
    position: absolute;
    left: 0;
    top: -20px;
    width: 65px;
    height: 2px;
    background-color: #ef4034;
}
.page-title h2::after {
    content: '';
    background-color: #ef4034;
}

.page-title h2 small {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    margin-top: 5px;
    color: #777;
}
.modal-work .modal-content .page-title h2::after {
    content: '';
    background-color: #ef4034;
}

.modal-work p {
  color: #333;
}


.card-overlay, .card-title a{
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
}
.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(45, 48, 56, 0.3);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  
}
.card-thumb{
  position: relative;
 /* z-index: -1;
 */ overflow: hidden;
}
.card-thumb:hover .card-overlay {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    border-radius: 0%;
}

.card-title a:hover{
  color: #e81f64;
  text-decoration:none;
}

/* contact */
.contact-section .icons, .contact-info .icons {
    float: left;
    font-size: 42px;
    margin-right: 30px;
}

.contact-section li {
    border-bottom: 1px solid #f1f1f1;
    padding: 10px 0;
}

.contact-section li:first-child {
    padding-top: 15px;
}

.contact-section h3 {
    margin-top: 5px;
}
.contact-section li{
  list-style-type: none;
  margin:0;

}
.contact-section li,
.contact-section li a {
    font-size: 16px;
    color: #2d3038;
}

.contact-section li a:hover {
    color: #87c05e;
}

.contact-section li:hover .icons, .feature .icon-lg:hover,
.contact-info:hover .icons {
    -webkit-transform:rotate(360deg) ;
    -moz-transform:rotate(360deg) ;
    -ms-transform:rotate(360deg) ;
    -o-transform:rotate(360deg) ;
    transform:rotate(360deg) ;
}

.contact-section .icons, .feature .icon-lg:hover,
.contact-info .icons {
    -webkit-transition: all 1000ms;
    -moz-transition: all 1000ms;
    -ms-transition: all 1000ms;
    -o-transition: all 1000ms;
    transition: all 1000ms;
}

.contact-section .icons {
    color: #f7941d;
    width: 50px;
    height: 50px;
}

.contact-section .icons1 {
    color: #ed1c24;
}

.contact-section .icons2{
    color: #b90162;
    font-size: 32px;
}

.contact-section .icons3 {
    color: #3c70b4;

}

.contact-section .social li {
    border: none;
    padding: 0;
}

.contact-section .social li+li {
    margin-left: 10px;
}

.contact-section .social a {
    color: #2d3038;
}

.contact-section .social i.fa-facebook:hover {
    color: #4060A5;
}

.contact-section .social i.fa-twitter:hover {
    color: #00ABE3;
}

.contact-section .social i.fa-google-plus:hover {
    color: #E64522;
}

.contact-section .social i.fa-dribbble:hover {
    color: #EA4C89;
}

.contact-section .social i.fa-behance:hover {
    color: #2E99D1;
}

.contact-section .social i.fa-github-alt:hover {
    color: #417DB9;
}

.contact {
    font-size: 16px;
    line-height: 24px;
  /*  padding-left: 50px;*/
    margin-top: 45px;
}

.contact .contact-info {
    margin-bottom: 15px;
}

.contact .title {
    position: relative;
}

/*.contact .icons {
    position: absolute;
    left: -50px;
    top: 0;
    font-size: 37px;
}*/

.contact .icons i {
    color: #87c05e;
}

.contact .form-group {
    margin-top: 20px;
    margin-bottom: 0;
}

.contact .form-control {
    height: 45px;
    line-height: 45px;
    border: none;
    box-shadow: none;
    color: #2d3038;
    font-size: 14px;
    background-color: #f2f2f2;
    padding-left: 20px;
    padding-right: 25px;
    border: 1px solid #f2f2f2;
}

.contact .form-control:focus {
    border-color: #87c05e;
}

.contact textarea.form-control {
    resize: none;
    height: 125px;
}

.contact .btn.btn-primary {
    margin-top: 20px;
}

.contact .form-control::-webkit-input-placeholder {
   color: #2d3038;
}

.contact .form-control:-moz-placeholder {
   color: #2d3038;  
}

.contact .form-control::-moz-placeholder { 
   color: #2d3038;  
}

.contact .form-control:-ms-input-placeholder {  
   color: #2d3038;  
}

/* Isotope Transitions
------------------------------- */
.isotope,
.isotope .item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}
  
/*.sticky.is-sticky {
  position: fixed;
  left:auto;
  right: auto;
  top: 150px;
  z-index: 1000;
flex: 0 0 25%;
    max-width: 25%;
}*/

.arrow-right{
  font-size: 26px;
    font-family: "Open Sans", sans-serif;
    position: relative;
    top: 2px;
       
}

.text-lockup a:hover{
  text-decoration: none;
}
.cool-link:hover{
  cursor: pointer;
}
.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
   /* //transition: width .3s;*/
}



#filters a{
  color: #666;
  font-size: 0.9rem;
  font-weight: 400;
  border:1px solid #ddd;
  border-radius: 4px;
  padding: 6px 15px;
  margin-right: 10px;
  line-height: normal;
}

#filters a.active{
  color: #e81f64;
  border-color:#e81f64;
}

#sidemenu.affix-top, #sidemenu.affix {
  position: static;
}

#sidemenu.affix-bottom {
  position: relative;
}



#sidemenu .nav-link.active,
#sidemenu .nav-link:hover,
#sidemenu .nav-link:focus{
    color: #111;
    border-bottom: 1px #000 dashed;
}

@media (max-width: 767px) {
    #sidemenu.affix {
      position: fixed;
      top: 40px;
    }

    #filters a {
      font-size: 0.8rem;
      padding:6px 8px;
      margin-right: 10px;
      text-align: center;
      margin-bottom: 10px;
    }

   .display-3{
    font-size: 2.5rem;
   }
   .bg-secondary{
    padding: 0;
   }

  .modal-content .offset-2{
    margin-left: 0;
  }
}

@media (max-width: 575.98px) { 
  .hidden-xs{
    display: none;
  }
  .home-thumb-link a i+p{
    font-size: 15px;
  }

  .col-xs-6{
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .contact-section .icons, .contact-info .icons{
    font-size: 34px;
    margin-right: 15px;
  }
  .contact-section .icons{
    height: 70px;
  }

}